.game{
  &__statistic{
    &__item{
      span{
        margin-left: .5rem;
      }
    }
    list-style: none;
    margin: 0;
     span{
      padding-right: .5rem;
     }
  }
}

.statistics__section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0  2rem 0;
    svg{
      width: 120px;
      & path{
        fill: none;
        stroke:blueviolet;
        stroke-width: 3;
        animation: progress .7s ease-in forwards;
      }

      .percentage {
        fill: #666;
        font-family: sans-serif;
        font-size: 0.5em;
        text-anchor: middle;
      }
  }


  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }
}