@import "~bootstrap/scss/bootstrap";

.items-container {
  display: flex;
  flex-direction: column;
  gap: 150px;
}

.item {
  position: relative;
}

.item__container {
  position: absolute;
  color: black;
}

.item__audio {
    width: 50px;
}

.item__play-audio {
    background-image: url('./assets/images/play.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.item__img {
  max-width: 100%;
  height: auto;
}

.form-select {
    width: 200px;
}

.form-select_color-one {
    color: red;
}
