@import "~bootstrap/scss/bootstrap";

ul {
    list-style: none;
}
.hidden {
    display: none;
}
.user {
    border: solid 1px #198754;
    padding: 4px 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px 15px 0;
    color: #fff;
}
.user.logged {
    background-color: #198754;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: var(--bs-card-cap-bg);
    width: 100%;
}
.footer__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo_image {
    display: inline-block;
    height: 20px;
    width: 60px;
}
